
#nav-bar {
  background: #00a087;
  color: #e8fdff;
  height: 80px;
  left: 0;
  line-height: 50px;
  padding: 0 2em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  line-height: 80px;

}
#nav-bar .logo {
  float: left;
  height: 80px;
  margin-right: 10px;
  width: 80px;
}

#nav-bar .nav-button {
  opacity: 0.9;
  color: #00a087;
  font-size: larger;
  background: #eee;
  border: 1px solid #004a4a;
  border-radius: 5px;
  float: right;
  margin-top: 10px;
  font-weight: 400;
  padding: 0 10px;

}

#nav-bar .nav-button:hover {
  opacity: 1;
  cursor: pointer;
}