
.counter {
float: right;
font-style: italic;
padding: 5px 10px;
}

.counter-negative {
  color: red;
}


.new-tweet {
  background: #eee;
  border-radius: 8px;
  margin: 0 auto;
}
.new-tweet input {
  border-radius: 2px;
  background-color: #d1dadc;
  border: 1px #869a9c;
  color: #424040;
  overflow: hidden;
  cursor: pointer;
}
.new-tweet h2 {
  border-bottom: 1px solid #888;
  margin: 0 auto;
  padding: 0.2em 0.5em;
}

.new-tweet form {
  padding: 1em;

}

.new-tweet textarea {
  border: 1px solid #aaa;
  padding: 5px;
  width: 100%;
}

.tweet-buttons *{
  float: right;
  opacity: 0;
  display: inline-block;
  margin: 0px 2px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}


.tweet-container {
  padding-top: 1em;
  padding-bottom: 1em;
}

.tweet-footer {
  border-top: 1px solid #ddd;
 padding: 1em;
}

.tweet-handle {
  color: #2b4e45;
  font-size: small;
  position: absolute;
  right: 10px;
  top: 10px;
}

.tweet-header {
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  color: #2b4e45;
  padding: 0.5em;
  position: relative;
}


.tweet-logo {
  border-radius: 5px;
  float: left;
  height: 60px;
  padding: 0.5em;
  position: relative;
  width: 60px;
}

.tweet-text {
  line-height: 2;
  padding: 0.5em 0.5em;
  overflow-wrap: break-word;

}

.tweet-timestamp {
  margin: 0;
  font-size: smaller;
}

.tweet-user {
  font-size: larger;
}

article {
  opacity: 0.6;
  border-radius: 8px;
  margin: 2em 0;
  border: 1px solid #eee;
}

article:hover  .tweet-buttons * {
  opacity: 1;
}
article:hover  {
  opacity: 1;
}
